name: release

on:
  push:
    branches:
      - releases

jobs:
  publish:
    uses: ./.github/workflows/publish-artifact.yml
    secrets: inherit

  release:
    runs-on: ubuntu-latest
    needs: [ publish ]
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          # 0 to fetch the full history due to upcoming merge of releases into main branch
          fetch-depth: 0
      - name: Export VERSION env
        run: |
          echo "VERSION=$(grep version= gradle.properties | cut -c 9-)" >> $GITHUB_ENV
      - run: |
          git config user.name "think-it-account"
          git config user.email "technical@think-it.io"

          git tag --force ${{ env.VERSION }}
          git push --force origin ${{ env.VERSION }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
          tag: ${{ env.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
          makeLatest: true
          removeArtifacts: true

      - name: Prepare next version
        id: prepare-next-version
        run: |
          git config user.name "think-it-account"
          git config user.email "technical@think-it.io"
          
          # Merge releases into main
          git checkout main && git merge -X theirs releases --no-commit --no-ff
          
          IFS=.- read -r VERSION_MAJOR VERSION_MINOR VERSION_PATCH SNAPSHOT<<<"${{ env.VERSION }}"
          SNAPSHOT_VERSION="$VERSION_MAJOR.$VERSION_MINOR.$((VERSION_PATCH+1))-SNAPSHOT"
          
          # Export for use in later steps
          echo "SNAPSHOT_VERSION=$SNAPSHOT_VERSION" >> $GITHUB_OUTPUT
          
          # Persist the "version" in the gradle.properties
          sed -i "s/version=.*/version=$SNAPSHOT_VERSION/g" gradle.properties
          
          git add gradle.properties
          
          # Commit and push to a new branch
          BRANCH_NAME="release/bump-to-$SNAPSHOT_VERSION"
          git checkout -b "$BRANCH_NAME"
          git commit --message "Introduce new snapshot version $SNAPSHOT_VERSION"

          git push origin "$BRANCH_NAME"
      
      - name: Create pull request
        uses: thomaseizinger/create-pull-request@1.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          head: release/bump-to-${{ steps.prepare-next-version.outputs.SNAPSHOT_VERSION }}
          base: main
          title: Bump version to ${{ steps.prepare-next-version.outputs.SNAPSHOT_VERSION }}
          body: |-
            This PR was created automatically after release ${{ env.VERSION }}.
            It updates the version in gradle.properties to the next SNAPSHOT version.
